/* Reset + font generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
/* Fine Reset + font generale */

/* Proprietà tasto HELP */
.help {
  position: fixed;
  bottom: 0px;
  right: 20%;
  background-color: #7cbb02;
  padding: 10px 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
/* Fine Proprietà tasto HELP */

/* Proprietà generali header */
header {
  position: relative;
  background-color: #0c325a;
  height: 600px;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 107% 100%;
}
/* Fine Proprietà generali header */

/* Proprietà generali liste non ordinate */
ul {
  list-style: none;
  font-size: 0;
}
/* Fine Proprietà generali liste non ordinate */

/* Proprietà generali elementi anchor */
a {
  text-decoration: none;
  color: white;
}
/* Fine Proprietà generali elementi anchor */

/* List item nelle colonne */
.col li {
  display: inline-block;
  margin: 40px 20px;
  text-transform: uppercase;
  font-size: 13px;
}
/* Fine List item nelle colonne */

/* Proprietà generali del container (per sezioni meno larghe del body) */
.container {
  width: 80%;
  margin: auto;
}
/* Fine Proprietà generali del container (per sezioni meno larghe del body) */

/* Proprietà generali colonne */
.col {
  float: left;
}
/* Fine Proprietà generali colonne */

/* Clearfix Header */
header .container div::after {
  content: "";
  clear: both;
  display: table;
}
/* Fine Clearfix Header */

/* Logo */
#logo {
  padding-top: 20px;
}
/* Fine Logo */

/* Proprietà colonna header sinistra */
.sinistra {
  width: 12%;
}
/* Fine Proprietà colonna header sinistra */

/* Proprietà colonna header centrale */
.centrale {
  width: 48%;
}
/* Fine Proprietà colonna header centrale */

/* Proprietà colonna header destra */
.destra {
  width: 40%;
  text-align: right;
}

.destra li {
  margin: 29px 0 29px 30px;
}

#login {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 40px;
}

.strutturapiano {
  background-color: #7cbb02;
  padding: 10px 15px;
  border-radius: 5px;
}
/* Fine Proprietà colonna header destra */

/* Divisore grigio header-main */
.motivational {
  position: absolute;
  top: 30%;
  width: 40%;
  font-size: 70px;
  color: white;
}

p.strutturapiano {
  position: absolute;
  top: 65%;
  text-transform: uppercase;
  padding: 25px;
  font-size: 16px;
  color: white;
}

#sfondogrigio {
  background-color: #d3d3d3;
  height: 150px;
  position: relative;
}

#sottoheader {
  height: 150px;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sottoheader h2 {
  font-size: 28px;
}

#sottoheader h3 {
  margin-top: 15px;
  color: grey;
}
/* Fine Divisore grigio header-main */

/* Proprietà container del main */
.container.main {
margin-top: 40px;
margin-bottom: 50px;
}
/* Fine Proprietà container del main */

/* Clearfix del contenitore (padre) delle colonne del main */
div.padrecolonne::after {
  content: "";
  clear: both;
  display: table;
}
/* Fine Clearfix del contenitore (padre) delle colonne del main */

/* Proprietà contenuti colonne main */
.sottotitolo-main {
  color: #7cbb02;
  padding: 10px 0 30px 0;
}

.linea-main{
  margin: auto;
  width: 20%;
}

.paragrafo-main {
  padding-top: 30px;
  font-size: 20px;
  color: #808080;
}
/* Fine Proprietà contenuti colonne main */

/* Proprietà colonna sinistra main */
.sinistra-main {
  text-align: center;
  width: 30%;
}
/* Fine Proprietà colonna sinistra main */

/* Proprietà colonna centrale main */
.centrale-main {
  margin: 0 4.5%;
  text-align: center;
  width: 30%;
}
/* Fine Proprietà colonna centrale main */

/* Proprietà colonna destra main */
.destra-main {
  text-align: center;
  width: 30%;
}
/* Fine Proprietà colonna destra main */

/* Proprietà HR divisore main */
#riga {
  margin: auto;
  width: 95%;
}
/* Fine Proprietà HR divisore main */

/* Proprietà parte bassa main */
.grafico {
  float: left;
  width: 35%;
  margin: 0 7.5%;
}

#scopri {
  margin: 30px;
}

#scopri h2{
  font-size: 30px;
}

#scopri h3{
  font-size: 20px;
  color: #808080;
  margin-top: 15px;
}

#scopri p {
  margin-top: 15px;
}

#scopri a {
  color: #5586bc;
  text-decoration: underline;
  font-weight: bold;
}
/* Fine Proprietà parte bassa main */

/* Proprietà background Footer */
#bg-footer {
  background-color: #d3d3d3;
  height: 200px;
}
/* Fine Proprietà background Footer */

/* Clearfix Footer */
div.padrecolonne-footer::after {
  content: "";
  clear: both;
  display: table;
}
/* Fine Clearfix Footer */

/* Proprietà colonna sinistra footer */
#colonnasx-footer {
  float: left;
  width: 20%;
  padding-top: 80px;
  font-size: 22px;
}
/* Fine Proprietà colonna sinistra footer */

/* Proprietà colonna centrale footer */
#colonnadx-footer {
  text-align: right;
  float: right;
  width: 50%;
  margin-left: 30%;
  padding-top: 80px;
  color: #808080;
}
/* Fine Proprietà colonna centrale footer */

/* Proprietà colonna destra footer */
#colonnadx-footer h2 {
  display: inline-block;
  padding-right: 5%;
}

.selettore {
  display: inline-block;
  width: 200px;
  height: 30px;
  background-color: #d3d3d3;
  color: #808080;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #808080;
  font-size: 20px;
}

.strutturapiano-footer {
  margin-left: 5%;
  display: inline-block;
  background-color: #7cbb02;
  padding: 20px 8px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}
/* Fine Proprietà colonna destra footer */
